@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --background: #000000;
    --textColor: #FFFFFF;
    --font: 'Roboto Mono', monospace;
    --imgSize: 5vh;
}
body {
    background-color: var(--background);
    display: grid;
    grid-template-columns: 100%;
    margin: 2vh;
}

.ccpf {
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 4% 8% 20% 20%;
    grid-template-rows: 6vh;
    align-self: center;
}

.description {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: repeat(10, 6vh);
    gap: 2vh 0px;
    align-self: center;
    margin: 2vh 0px;
}

input {
    font-size: 120%;
    cursor: text;
}

button {
    font-size: 120%;
    cursor: pointer;
}

#input0 {
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
    font-size: 150%;
    text-align: center;
    cursor: pointer;
}

.presets {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    gap: 2vh 0px;
    align-self: center;
    margin: 2vh 0px;
}

#preset {
    height: 50px;
}
