@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --background: #000000;
    --textColor: #FFFFFF;
    --font: 'Roboto Mono', monospace;
    --imgSize: 5vh;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 50px 1fr 1fr;
    grid-template-rows: repeat(8, 6vh);
    gap: 35px 0px;
    background-color: var(--background);
    align-self: center;
    margin: 5%;
}

input {
    font-size: 150%;
}

button {
    font-size: 150%;
}

#input0 {
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
    font-size: 150%;
    text-align: center;
}