@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --background: #000000;
    --textColor: #FFFFFF;
    --font: 'Roboto Mono', monospace;
    --imgSize: 5vh;
}
body {
    background-color: var(--background);
    display: grid;
    grid-template-columns: 100%;
}

.ccpf {
    display: grid;
    grid-template-columns: 24% 24% 4% 24% 24%;
    grid-template-rows: 6vh;
    gap: 35px 0px;
    align-self: center;
    margin: 5%;
}

.description {
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: repeat(8, 6vh);
    gap: 35px 0px;
    align-self: center;
    margin: 5%;
}

input, button {
    font-size: 120%;
}



#input0 {
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
    font-size: 150%;
    text-align: center;
}